  body {
  font-size: 16px;
  padding: 0;
  color: #333;
  margin: 0;
  font-family: 'Crimson Text', serif;
}
nav{
  background-color: black;
  padding: 2%;
  font-size: 100%;
  display:flex;
  justify-content: space-around;
}

nav a{
  color: white;
}

nav a:hover, nav a:active  {
  color: hotpink;
  text-decoration: underline;
}

h3{
  font-size: 28px;
  background: -webkit-linear-gradient(#16aadb, #db8895);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h5{
  font-size: 28px;
  margin: 0;
  color: black;
}

h1 h2 h3{
  padding: 0;
  margin: 0;
  line-height: 1.45;
}

img{
  width: 100%;
  height: auto;
}
q{
  font-style: italic;
}

header {
  padding: 2em;
  text-align: center;
  position: relative;
  height: 300px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}
#paragraph_padding{
  padding-bottom: 10px;
}

/* adding the gradient background to the quick_facts section */
.container_quick_facts{
  color: !important black;
  font-size: 18px;
  padding: 3em;
  position: relative;
  height: 220px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  clip-path: polygon(
    0 0, /*left top*/
    100% 30%, /*right top*/
    100% 100%,/*right bottom*/
    0 100%   /*left bottom*/
  );
}


article {
  width: 768px;
  /* media query to change width. Percentages for width for page resizing*/
  font-size: 18px;
  line-height: 1.45;
  margin: auto;
}

/* adding padding under earch paragraph contained within the article */
article p{
  padding-bottom: 25px;
}

article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: 12px;
  font-family: 'Gentium', sans-serif;
  font-weight: 100;
  text-align: center;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
  font-family: fantasy;
  font-style: oblique;
  padding-bottom: 1em;
}

.figure-2{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.rosa{
  position: relative;
  display: flex;
  justify-content: space-between;

}
 header::after{
  filter: drop-shadow(5px 5px 5px dodgerblue);
}

.rosa-text{
  align-self: center;
  font-size: 200%
  flex-basis: 75%
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.rosa-img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  flex-basis: 25%;
  background-image: url('../img/Rosaparks.jpg');
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rosa:hover .rosa-img{
  opacity: 0.3;
}

.rosa:hover .middle{
  opacity: 1;
}

.text{
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#accomplishments, #who, #quick_facts{
  padding-bottom: 0;
}

#quick_facts{
  font-weight: 900;
  font-size: 28px;
}
/* info lnk that takes you to a different page */
a.info-link:hover, a.info-link:active{
  color: white;
}

/* Trying to add the grid here but it doesnt work */

/* article{
  display: grid;
  grid-gap: 0.25em;
  grid-template-areas:
  "who-grid who-grid who-grid"
  "accomp accomp accomp"
  "accomp accomp figure-1"
  "accomp accomp accomp"
  "figure-2 accomp accomp"
  "accomp accomp accomp";
}
.who-grid{grid-area:who-grid;}
.accomp{grid-area: accomp;}
.figure-1{grid-area: figure-1;}
.figure-2{grid-area: figure-2;}
.quick{grid-area: quick;}

@@media screen and (min-width: 767px) {
  article{
    grid-template-areas:
    "who-grid"
    "accomp"
    "figure-1"
    "figure-2"
    "quick";
  } */
